#root{

    position: relative;
}
main{
    height: 80vh;
}
h3{
    padding: 1rem;
}
h1{
    padding: 1.8rem 0;
}
h2{
    padding: 1.4rem 0;
}

.rating span{
    margin: 0.2rem;
}
.product-card{
    height: 400px;
}
.product-card .card-title{
    height: 60px;
}

.footer-container{
    position: absolute;
    text-align: center;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}